__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

.idea/
*.iml
.vscode/

.venv/
venv/
ENV/

.pytest_cache/
.coverage
htmlcov/

mysite/static/
static/
staticfiles/
media/

.DS_Store

!*/migrations/
!*/migrations/*.py
