version: '3.9'

services:
  web:
    build: .
    command: web
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - course_db
      - redis

  course_db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery_beat:
    build: .
    command: beat
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  celery_worker:
    build: .
    command: worker
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

